/* your styles go here */
.palette-1{
    background-color: rgb(15, 15, 15) !important;
    color: gray !important;
}
.aaaa{
    color: rgba(30, 30, 30, 0.712);
    border-bottom: 3px solid orange;
    /* background: url(<?=base_url('assets/gambar/bg-godzilla.webp')?>); */
    background: url(../gambar/bg-godzilla.webp);
}

.gradient{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.708);
}

